<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contacts</title>
</head>
<body>
  <h1>Das Contact List</h1>
  <div id="formMain">
    <h3>New Contact</h3>
    <form id="contactNew">
      <p>Name:<input type="text" name="name"></input></p>
      <p>Age:<input type="text" name="age"></input></p>
      <p>Address:<input type="text" name="address"></input></p>
      <p>Phone Number:<input type="text" name="phone_number"></input></p>
      <p>Picture Url:<input type="text" name="picture"></input></p>
      <p>Category:<select id="contactCat" name="category_id"></select></p>
      <input id="contactSubmit" value="submit" type="submit"></input>
    </form>
  </div>
  <div id="main"></div>
  <!-- Javascript -->
  <!-- Libraries -->
  <script type="text/javascript" src="/libraries/jquery-min.js"></script>
  <script type="text/javascript" src="/libraries/underscore-min.js"></script>
  <script type="text/javascript" src="/libraries/backbone-min.js"></script>
  <!-- Backbone -->
  <script type="text/javascript" src="/backbone/contact.js"></script>
  <script type="text/javascript" src="/backbone/category.js"></script>
  <!-- Main -->
  <script type="text/javascript" src="javascripts/scripts.js"></script>
</body>
</html>
